---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <main class="max-w-2xl mx-auto px-4 py-12">
    <header class="mb-12">
      <h1 class="text-3xl font-bold mb-2 text-black dark:text-white">Platon's Blog</h1>

      <p class="text-black dark:text-white">Opinionated thoughts.</p>
    </header>

    <section>
      <h2 class="text-xl font-semibold mb-6 text-black dark:text-white">Recent Posts</h2>
      <div class="space-y-8">
        {
          posts.map((post) => (
            <article class="border-b border-b-gray-200 dark:border-b-gray-800 pb-4">
              <a href={`/posts/${post.id}`} class="group block">
                <h3 class="text-lg font-medium text-black dark:text-white group-hover:text-gray-500 dark:group-hover:text-gray-400 transition-colors">
                  {post.data.title}
                </h3>

                <p class="text-black dark:text-white opacity-80 mt-1 mb-2">{post.data.description}</p>

                <time class="text-sm text-gray-500 dark:text-gray-400 block">{new Date(post.data.pubDate).toLocaleDateString()}</time>
              </a>
            </article>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
